<nav class="navbar navbar-expand-lg barnav">
  <div class="container-fluid">
    <a class="navbar-brand ms-2" href="{{ path('app_accueil')}}"> <img src="{{ asset('icon/maison.png') }}" class="logo"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <form class="d-flex me-auto" role="search" method="get" action="{{ path('app_search') }}">
          <input
            class="form-control me-2 search-input"
            type="search" name="search" aria-label="Search"
            style="background-image:url('{{ asset('icon/loupe.png') }}');">
        </form>
      </ul>

      <ul class="navbar-nav ms-center mb-2 mb-lg-0 villagegreen">
      Village Green
      </ul>

      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
        <li class="nav-item d-flex me-4">
          {% if app.user %}
            <span class="nav-link pe-none">({{app.user.email}}) </span>
            <a class="nav-link" href="/logout">Logout</a>
          {% else %}
            <a class="nav-link" href="/login">Login</a>
          {% endif %}
        </li>
        <li class="nav-item me-4">
          <a class="nav-link" aria-current="page" href="{{ path('app_contact')}}">Contact</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ path('app_panier')}}"><img src="{{ asset('icon/panier.png') }}"> ({{ app.session.get('panier') | length }})</a>
        </li>
      </ul>
    </div>
  </div>
</nav>