{% extends 'base.html.twig' %}

{% block title %}Hello AccueilController!{% endblock %}

{% block body %}


        <div class="col-12 mt-3">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="/">Accueil</a></li>
                    <li class="breadcrumb-item active" aria-current="page">{{rubrique.nomRubrique}}</li>
                </ol>
            </nav>
        </div>
        

<h1>{{ rubrique.nomRubrique }}</h1>

        {% for sousRubrique in rubrique.sousRubriques %}
           <div class="col-12 col-sm-6 col-md-4 rubrique mt-3">
                <a href="/sousrubrique/{{ sousRubrique.id }}">
                        <div class="card" style="">
                            <img class="card-img-top img-fluid imgcard" src="{{ asset(sousRubrique.photo) }}" alt="{{ sousRubrique.nomsousRubrique}}" class="img-fluid produit-image">
                            <div class="card-body">
                                <h5 class="card-title">{{ sousRubrique.nomsousRubrique }}</h5>
                                <p class="card-text"></p>
                            </div>
                        </div>
                </a>
            </div>
            
        {% endfor %}
    </div>
</div>
{% endblock %}
